body {
       background-image: url("https://media1.santabanta.com/full1/Indian%20TV%20Serials/Kaun%20Banega%20Crorepati/kaun-banega-crorepati-0a.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
}
.columnO{
       background-color:#afb4df;
       width: 300px;
       margin: left;
       border: 3px solid #0e57f7;
       display:inline-block;
       padding-inline-start: 25px;
}
.column{
       background-color:#9795ff;
       opacity: 90%;
       width: 900px;
       margin: left;
       border: 3px solid #01143b;
}

.columnV{
       background-color: #9795ff;
       margin: auto;
       position: absolute;
       top: 0.3px;
       left: 1019px;
       width: 254.3px;
       border: 3px solid #73AD21;
       background-color:hsl(241, 85%, 68%);
       font-size: 14.45px;
       height:571px;
}
#orangeh2{
       background-color:orange;
       border: 3px solid #4436c9;
       text-align: center;
       
}
